*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#search{
    width:10rem;
    height:2.5rem;
    margin:auto;
    padding-top: 0.5rem;
    background-image: url("../img/TB10.51HFXXXXXqXpXXYx6l2pXX-750-235%20(1).jpg_q90");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}
#search p{
    color: #000;
    font-size: 19px;
    text-align: center;
}
#search img{
    width:0.586rem;
    position: absolute;
    top: 0.65rem;
    right: 0.5rem;
}
[data-dpr="2"] #search p{
    font-size: 38px;
}
[data-dpr="3"] #search p{
    font-size: 57px;
}
header{
    width:10rem;
    height:5rem;
    margin:0 auto;
    position: relative;
    top:-1rem;
}
header .logo{
    width: 2.133rem;
    height: 2.133rem;
    background-image: url(../img/WODE.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    border-radius: 2.4rem;
    background-position: 50% 50%;
}
header .span{
    height: 1.8rem;
    line-height: 1rem;
    font-size: 0.35rem;
    text-align: center;
    color: #000;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
header .p{
    height: 1.8rem;
    font-size: 0.45rem;
    text-align: center;
    color: #000;
    overflow: hidden;
}
main{
    width:10rem;
    margin:auto;
    position: relative;
    top:-1.5rem;
}
main .top{
    width:10rem;
    height:1rem;
    position: relative;
    left: -1rem;
}

main .top ul{
    list-style: none;
    position: absolute;
}
main .top ul li{
    float: left;
    width: 0.56rem;
    height: 0.56rem;
    padding-left: 1.85rem;
}
main .top ul li img{
    float: left;
    width: 0.59rem;
    height: 0.59rem;

}
main .bottom{
    width:10rem;
    height:1rem;
    position: relative;
    border-bottom: 1px solid #eee;
}
main .bottom ul{
    list-style: none;
    position: absolute;
}
main .bottom ul li{
    width: 2rem;
    margin-left: 0.5rem;
    display: block;
    float: left;
    font-size: 12px;
}
[data-dpr="2"] main .bottom ul li{
    font-size: 24px;
}
[data-dpr="3"] main .bottom ul li{
    font-size: 36px;
}
.banner{
    margin: auto;
    width: 10rem;
    position: relative;
    top: -0.8rem;
}
.banner .top{
    width:10rem;
    height: 2.5rem;
}
.banner .top ul{
    list-style: none;
    position: absolute;
}
.banner .top ul li{
    float: left;
    width: 2.5rem;
    display: block;
    height: 2.5rem;
    border: 1px solid #eeeeee;
}
.banner .top ul li img{
    width:0.72rem;
    height:0.72rem;
    margin-left: 0.75rem;
    margin-top: 0.2rem;
}
.banner .top ul li p{
    font-size: 12px;
    margin-top: 0.35rem;
}
[data-dpr="2"] .banner .top ul li p{
    font-size: 24px;
}
[data-dpr="3"] .banner .top ul li p{
    font-size: 36px;
}
.banner .bottom{
    width:10rem;
    height: 2.5rem;
}
.banner .bottom ul{
    list-style: none;
    position: absolute;
}
.banner .bottom ul li{
    float: left;
    width: 2.5rem;
    display: block;
    height: 2.5rem;
    border: 1px solid #eeeeee;
}
.banner .bottom ul li img{
    width:0.72rem;
    height:0.72rem;
    margin-left: 0.75rem;
    margin-top: 0.2rem;
}
.banner .bottom ul li p{
    font-size: 12px;
    margin-top: 0.35rem;
}
[data-dpr="2"] .banner .bottom ul li p{
    font-size: 24px;
}
[data-dpr="3"] .banner .bottom ul li p{
    font-size: 36px;
}
.footer{
    width:10rem;
    margin: 0 auto;
}
.footer ul{
    list-style: nine;
}
.footer ul li{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.71);
    line-height: 2.5;
    padding-left: 0.5rem;
}
[data-dpr="2"] .footer ul li{
    font-size: 30px;
}
[data-dpr="3"] .footer ul li{
    font-size: 45px;
}
.footer ul li i{
    float: right;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.71);
    line-height: 2.5;
    padding-left: 0.5rem;
    transform: rotate(180deg);
}
[data-dpr="2"] .footer ul li i{
    font-size: 30px;
}
[data-dpr="3"] .footer ul li i{
    font-size: 45px;
}